$font-stack: "Segoe UI",Roboto,Ubuntu,sans-serif;

$background: hsla(0, 0%, 0%, 0.849);

$common-color: hsla(0, 17%, 87%, 0.801);

$hover-color-movie: hsla(61, 84%, 42%, 0.945);
$hover-color-book: hsla(180, 78%, 26%, 0.863);

*{
  box-sizing: border-box;
}

html{
  height: 100vh;
  ::-webkit-scrollbar {
    width: 0.8rem;
  }
  ::-webkit-scrollbar-track {
    background: hsl(0, 0%, 43%) 61% ;
    
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 26%) 61%;
    border-radius: 100vw;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: hsl(0, 0%, 20%) 100%;
  }
  ::-webkit-scrollbar-thumb:active{
    background: hsl(0, 0%, 15%);
  }
}

body{
  background: url("../assets/janko-ferlic-sfL_QOnmy00-unsplash\ \(1\).jpg") no-repeat fixed center;
  background-color: rgb(29, 29, 29);
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
  margin: 0;
  height: 100vh;
  /* border-radius: 0.8rem; */
  font-family: $font-stack;
  h1{
    color: hsl(0, 59%, 38%);
  }
  .App{
    padding: 2rem;
    .go-back-button{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(212, 202, 202);
      text-decoration: none;
      .fa-arrow-left{
        font-size: 25px;
        color: black;
      }
    }
    .go-back-button:hover{
      background-color: rgb(134, 131, 131);
      .fa-arrow-left{
        color: rgb(212, 202, 202);
      }
    }
    .head-title{
      display: flex;
      justify-content: center;
      color: $common-color;
      padding: 4rem;
    }
    .button-category{
      display: flex;
      justify-content: space-around;
      width: 80%;
      margin: auto;
      overflow: hidden;
      a{
        color: $common-color;
        background-color: hsl(0, 51%, 21%);
        padding: 10px 20px;
        border-radius: 1rem;
        
        font-weight: 600;
        text-decoration: none;
      }
      a:hover{
        background-color: hsl(0, 52%, 12%);
        color: rgb(224, 222, 222);
      }
    }
    .button-header{
      width: 40%;
      display: flex;
      justify-content: space-around;
      margin: 3rem auto;
      span{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .red{
        background: rgb(105, 19, 19);
      }
      .green{
        background: rgb(9, 92, 9);
      }
      .circle{
        border-radius: 50%;
        height: 15px;
        width: 15px;
      }
      .direction-buttons{
        text-decoration: none;
        padding: 5px;
        background: none;
        border: none;
        cursor: pointer;
        font-weight: 600;
        font-size: large;
        color: $common-color;
      }
      .direction-buttons:hover{
        color: rgb(117, 117, 117);
      }
    }
    .title{
      display: grid;
      place-content: center;
      color: $common-color; 
    }
    .template{
      max-width: 1980px;
      margin: auto;
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: 1fr 1fr 1fr;
      
      
      .info-box{
        height: 200px;
        display: flex;
        background-color: hsl(240, 2%, 11%);
        cursor: pointer;
        border-radius: 1rem;
        box-shadow: 5px 5px 25px $background;
        overflow: hidden;
        &.preEnter{
          opacity: 0.5;
        }
        &.entered {
          opacity: 1;
        }
        &.preExit{
          opacity: 0.5;
        }
        &.exiting {
          opacity: 0;
        }
        img{
          border-radius: 1rem 0 0 1rem;
        }
        h3{
          color: $common-color;
        }
        p{
          color: $common-color;
        }
        .info-text{
          padding: 0 1rem;
          
        }
      }
      
      .movie:hover{
        box-shadow: 5px 5px 25px $hover-color-movie;
        h3{
          color: $hover-color-movie;
        }
        p{
          color: $hover-color-movie;
        }
      }
      .book:hover{
        box-shadow: 5px 5px 25px $hover-color-book;
        h3{
          color: $hover-color-book;
        }
        p{
          color: $hover-color-book;
        }
      }
    }

    
  }
}

